## Pandas

pandas는 python에서 표 형식의 데이터를 다룰 때 많이 사용하는 라이브러리입니다. pandas를 이용해서 데이터 셋을 불러오고, 원하는 형태로 가공하고, 다시 파일 형태로 출력할 수도 있습니다. python을 이용한 데이터 분석 분야에서는 뗄레야 뗄 수 없는 라이브러리입니다.  

이번 시간에는 가볍게 pandas 기본 사용법을 익혀보겠습니다. 자세한 사용법과 관련 개념들은 numpy & pandas 시간에 다뤄볼 예정입니다.

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/user/miniconda3/lib/python3.10/site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/user/miniconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/user/miniconda3/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/user/miniconda3/lib/python3.10/site-packages (from pandas) (1.25.0)
Requirement already satisfied: six>=1.5 in /Users/user/miniconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
DEPRECATION: pytorch-lightning 1.8.3.post1 has a non-standard dependency specifier torch>=1.9.*. pip 24.0 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pytorch-lightning or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063
DEPRECATION: mecab-python 0.996-ko-0.9.2 has a non-standard version number. pip 24.0 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of mecab-python or contact the author to suggest that they release a version with a conforming version number. Discussion can be found at https://github.com/pypa/pip/issues/12063

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: pip install --upgrade pip

## Pandas DataFrame

pandas에서 표 형태의 데이터를 다루는 데이터 타입을 dataframe이라고 부릅니다. dataframe을 직접 생성할 수도 있지만, 이미 만들어져 있는 csv 파일을 읽어오는 방식으로도 생성할 수 있습니다.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("./data/diamonds.csv")

In [4]:
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [6]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

## dataframe 기본 정보 출력

### df.info
데이터 프레임이 어떤 컬럼들로 구성되어 있는지, 각 컬럼별 데이터 타입은 무엇인지 알 수 있습니다.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

### df.describe

각 컬럼별로 개수, 평균값, 표준편차, 4분위 수 등의 기초 통계량을 알 수 있습니다.

In [10]:
df.describe()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

## dataframe 값 접근하기

### column으로 접근
먼저 컬럼명을 index 삼아서 접근할 수 있습니다.

In [12]:
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [11]:
df["carat"]

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64

컬럼명들의 list를 전달해서 여러 컬럼을 동시에 읽을 수도 있습니다.

In [13]:
df[["carat", "cut"]]

       carat        cut
0       0.23      Ideal
1       0.21    Premium
2       0.23       Good
3       0.29    Premium
4       0.31       Good
...      ...        ...
53935   0.72      Ideal
53936   0.72       Good
53937   0.70  Very Good
53938   0.86    Premium
53939   0.75      Ideal

[53940 rows x 2 columns]

조건식을 걸어서 조건에 맞는 행들만 읽어올 수도 있습니다.

In [15]:
df[df["cut"] == "Ideal"]

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
11,12,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46
13,14,0.31,Ideal,J,SI2,62.2,54.0,344,4.35,4.37,2.71
16,17,0.30,Ideal,I,SI2,62.0,54.0,348,4.31,4.34,2.68
39,40,0.33,Ideal,I,SI2,61.8,55.0,403,4.49,4.51,2.78
...,...,...,...,...,...,...,...,...,...,...,...
53925,53926,0.79,Ideal,I,SI1,61.6,56.0,2756,5.95,5.97,3.67
53926,53927,0.71,Ideal,E,SI1,61.9,56.0,2756,5.71,5.73,3.54
53929,53930,0.71,Ideal,G,VS1,61.4,56.0,2756,5.76,5.73,3.53
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

& 기호를 사용해서 여러 조건을 중첨시킬 수도 있습니다.

In [16]:
df[(df["cut"] == "Ideal") & (df["carat"] > 0.5)]

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
90,91,0.70,Ideal,E,SI1,62.5,57.0,2757,5.70,5.72,3.57
92,93,0.70,Ideal,G,VS2,61.6,56.0,2757,5.70,5.67,3.50
102,103,0.74,Ideal,G,SI1,61.6,55.0,2760,5.80,5.85,3.59
104,105,0.80,Ideal,I,VS1,62.9,56.0,2760,5.94,5.87,3.72
105,106,0.75,Ideal,G,SI1,62.2,55.0,2760,5.87,5.80,3.63
...,...,...,...,...,...,...,...,...,...,...,...
53925,53926,0.79,Ideal,I,SI1,61.6,56.0,2756,5.95,5.97,3.67
53926,53927,0.71,Ideal,E,SI1,61.9,56.0,2756,5.71,5.73,3.54
53929,53930,0.71,Ideal,G,VS1,61.4,56.0,2756,5.76,5.73,3.53
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [17]:
df[(df["cut"] == "Ideal") | (df["cut"] == "Premium")]

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
11,12,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46
12,13,0.22,Premium,F,SI1,60.4,61.0,342,3.88,3.84,2.33
...,...,...,...,...,...,...,...,...,...,...,...
53931,53932,0.71,Premium,F,SI1,59.8,62.0,2756,5.74,5.73,3.43
53934,53935,0.72,Premium,D,SI1,62.7,59.0,2757,5.69,5.73,3.58
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

### Row로 접근

df.iloc 함수를 사용해서 i번째 행을 읽어올 수 있습니다.

In [18]:
df.iloc[0]

Unnamed: 0        1
carat          0.23
cut           Ideal
color             E
clarity         SI2
depth          61.5
table          55.0
price           326
x              3.95
y              3.98
z              2.43
Name: 0, dtype: object

슬라이싱을 적용할 수도 있습니다.

In [19]:
df.iloc[10:20]

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
10,11,0.30,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73
11,12,0.23,Ideal,J,VS1,62.8,56.0,340,3.93,3.90,2.46
12,13,0.22,Premium,F,SI1,60.4,61.0,342,3.88,3.84,2.33
13,14,0.31,Ideal,J,SI2,62.2,54.0,344,4.35,4.37,2.71
14,15,0.20,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27
15,16,0.32,Premium,E,I1,60.9,58.0,345,4.38,4.42,2.68
16,17,0.30,Ideal,I,SI2,62.0,54.0,348,4.31,4.34,2.68
17,18,0.30,Good,J,SI1,63.4,54.0,351,4.23,4.29,2.70
18,19,0.30,Good,J,SI1,63.8,56.0,351,4.23,4.26,2.71
19,20,0.30,Very Good,J,SI1,62.7,59.0,351,4.21,4.27,2.66

iloc으로 가져온 데이터 프레임에 다시 컬럼명을 사용해서 접근할 수 있습니다.

In [20]:
df.iloc[10:20][["carat", "cut"]]

    carat        cut
10   0.30       Good
11   0.23      Ideal
12   0.22    Premium
13   0.31      Ideal
14   0.20    Premium
15   0.32    Premium
16   0.30      Ideal
17   0.30       Good
18   0.30       Good
19   0.30  Very Good

## 정리

이상으로 아주 간단하게 pandas 라이브러리 사용법에 대해서 배워봤습니다. pandas는 세미 프로젝트 이후 따로 차근차근 배울 예정이니, 지금은 이렇게 사용하는구나~ 정도의 느낌만 익히고 넘어가도 충분합니다.